<h1>Collaborators</h1>

<% @users.each do |u| %>
  <%= form_for [@wiki, @collaborator] do |f| %>
    <div class="row">
      <div class="span3">
        <%= u.name %> <%= u.email %>
      </div>
      <div class="span3">
        <%= f.hidden_field :user_id, :value => u.id %>
      </div>
      <div class="span3">
        <% unless @wiki.collaborators.pluck("user_id").include? u.id %>
          <%= f.submit "Add as collaborator", class: 'btn'  %>
        <% end %>
      </div>
    <% end %>
    
    <div class="span3">
      <% if @wiki.collaborators.pluck("user_id").include? u.id %>
        <% c = Collaborator.where(:user_id => u.id, :wiki_id => @wiki.id).last %>
        <%= button_to 'Delete collaborator', wiki_collaborator_path(@wiki, c), :method => 'delete', :confirm => 'Are you sure?', class: 'btn'  %>
      <% end %>
    </div>
  </div>
<% end %>
