<h1>My wikis</h1>

<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>User</th>
      <th>Name</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @wiki.each do |wiki| %>
      <tr class="active">
        <td><%= wiki.user.name if wiki.user %></td>
        <td><%= wiki.name %></td>
        <td><%= wiki.body %></td>
        <td><%= link_to 'Show', wiki %> | 
        <%= link_to 'Edit', edit_wiki_path(wiki) %> |
        <%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %> | 
        <%= link_to 'Add Collaborators', new_wiki_collaborator_path(wiki) %>
      </td>
      </tr>
    <% end %>
  </tbody> 
</table>

<br>
<% if policy(Wiki.new).create? %> <%#added policy instead of if user %>
  <%= link_to 'New', new_wiki_path %>
<% end %>

<%#[FIXME]= link_to 'Profile', user_profile_path %> 
<%# [FIXME]= link_to 'Sign out', user_signout_path %>
