<h1>My wikis</h1>
<div class="row">
<% if policy(Wiki.new).create? %> <%#added policy instead of if user %>
  <%= link_to 'New', new_wiki_path, class: 'btn btn-primary btn-large' %>
<% end %>

<% if current_user.role?("free") %>
  <h2><%= link_to "Upgrade Account", new_charge_path, class: 'btn btn-primary btn-large' %></h2>
  </div>
<% end %>
<%# If current_user.role(free)
show%>

<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>User</th>
      <th>Name</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @wiki.each do |wiki| %>
      <tr class="active">
        <td><%= wiki.user.name if wiki.user %></td>
        <td><%= wiki.name %></td>
        <td><%= wiki.body %></td>
        <td><%= link_to 'Show', wiki %> | 
        <%= link_to 'Edit', edit_wiki_path(wiki) %> |
        <%= link_to 'Destroy', wiki, method: :delete, data: { confirm: 'Are you sure?' } %> | 
        <%= link_to 'Add Collaborators', new_wiki_collaborator_path(wiki) %>
      </td>
      </tr>
    <% end %>
  </tbody> 
</table>

<br>


<%#[FIXME]= link_to 'Profile', user_profile_path %> 

