<h1><%= @wiki.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @wiki.user %>
</p>

<p>
  <h1><%= @wiki.name %></h1>
  <%= @wiki.name %>
</p>

<p>
  <p><%= @wiki.body %></p>
  <%= @wiki.body %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
