

<p id="notice"><%= notice %></p>

<p>
  <strong><%= @wiki.user %></strong>
  
</p>

<p>
  <h1><%= @wiki.name %></h1>
  
</p>

<p>
  <p><%= @wiki.body %></p>
  
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
