<!DOCTYPE html>
<html>
<head>
  <title>Freshipedia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
        
                
          <div class="pull-right user-info">
           <% if current_user %>
            Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            <%= link_to 'My Wikis', wikis_path, class: 'btn btn-mini' %>
           <% else %>
             <%= link_to "Sign In", new_user_session_path %> 
             
           <% end %>
         </div>

    </ul>
       
  </div>

<%= yield %>

</body>
</html>
